extends ./layouts/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros",class="img-fluid")
            .col-md-7
                h1.m-0.text-center #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam veniam ab temporibus dolorum deleniti sint animi, fuga, unde nemo accusamus explicabo laborum id voluptates qui dolorem minus esse? Non.Quidem similique quae quisquam animi ex veritatis veniam earum repellat porro pariatur consequatur deleniti, magnam natus obcaecati labore repudiandae provident unde minus facilis accusamus? Laudantium at repudiandae quos consequuntur sit.Fuga, fugit? Necessitatibus dolores eius placeat ut, amet in quibusdam est tempora molestiae enim praesentium, accusamus at impedit eum aspernatur facilis delectus et obcaecati! Vero numquam temporibus sit cum dolore.Porro, consequuntur maxime. Dolores nostrum modi excepturi sed! Voluptatibus, obcaecati facilis numquam repellat voluptatum cum dolorum a quidem nisi architecto, voluptatem iusto natus ut asperiores excepturi impedit sed minus ea.
                p facilis delectus et obcaecati! Vero numquam temporibus sit cum dolore.Porro, consequuntur maxime. Dolores nostrum modi excepturi sed! Voluptatibus, obcaecati facilis numquam repellat voluptatum cum dolorum
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-2")
                    h2.mb-2 Seguridad
                    p.mb-0.lai Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda obcaecati amet rerum possimus reiciendis, perferendis sed commodi illo vitae quibusdam, voluptatum
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-2")
                    h2.mb-2 Destinos
                    p.mb-0.lai Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda obcaecati amet rerum possimus reiciendis, perferendis sed commodi illo vitae quibusdam, voluptatum

                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-2")
                    h2.mb-2 Precios
                    p.mb-0.lai Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda obcaecati amet rerum possimus reiciendis, perferendis sed commodi illo vitae quibusdam, voluptatum